@model List<ResultWorkLocationDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}



<table class="table table-bordered">
<tr>
    <th>#</th>
    <th>Lokasyon Adı</th>
    <th>Şehir</th>
    <th>Sil</th>
    <th>Güncelle</th>

</tr>
    @foreach (var item in Model)
    {
        
        <tr>
            
            <th>@item.WorkLocationId</th>
            <th>@item.WorkLocationName</th>
            <th>@item.WorkLocationCity</th>
            <th><a href="/WorkLocation/DeleteWorkLocation/@item.WorkLocationId" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></th>
            <th><a href="/WorkLocation/UpdateWorkLocation/@item.WorkLocationId" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></th>


        </tr>
    }
</table>
<a href="/WorkLocation/AddWorkLocation/" class="btn mb-1 btn-rounded btn-outline-info">Yeni Lokasyon Girişi</a>

